<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Common/Anasayfa/img/favicon.png" type="image/png">
    <title>Online Kuaförüm</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/bootstrap.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/responsive.css">
</head>
<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/"><img src="~/Common/Anasayfa/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa</a></li>

                        <li class="nav-item "><a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda</a></li>
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Blog")">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Contact")">İletişim</a></li>
                        @{
                            if (Session["musteri"] == null)
                            {
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GİRİŞ</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("MusteriGiris", "Home")">Kullanıcı Giriş</a></li>@*Giriş yapıldıktan sonra çıkış yap butonu gelicek*@
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("BerberGiris", "Home", new { area = "Berber" }, null)">Salon Giriş</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {

                                <li class="nav-item"> @Html.ActionLink("Çıkış Yap", "CıkısYap", "Home", new { @class = "nav-link" })</li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>

        </div>
    </section>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <!--================End Home Banner Area =================-->
    <!--================Blog Categorie Area =================-->
    @*<section class="blog_categorie_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="~/Common/Anasayfa/img/blog/cat-post/cat-post-3.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="blog-details.html"><h5>Social Life</h5></a>
                                    <div class="border_line"></div>
                                    <p>Enjoy your social life together</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="~/Common/Anasayfa/img/blog/cat-post/cat-post-2.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="blog-details.html"><h5>Politics</h5></a>
                                    <div class="border_line"></div>
                                    <p>Be a part of politics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="~/Common/Anasayfa/img/blog/cat-post/cat-post-1.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="blog-details.html"><h5>Food</h5></a>
                                    <div class="border_line"></div>
                                    <p>Let the food be finished</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--================Blog Categorie Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <div id="topuz">
                            <article class="row blog_item">
                                <div class="col-md-12">
                                    <div class="blog_post">
                                        <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-1a.jpg" width="100%" alt="">
                                        <div class="blog_details">
                                            <a style="cursor: pointer" class="accordion">
                                                <h2>Topuz Saç Modeli</h2>
                                                <b>Topuz Saç Modeli</b> <br />
                                                <p>Saçlarımıza çeşitli işlemler yaptırır ve değişik modeller verdiririz. Eskiden özellikle düğün ya da özel bir gün için yapılan topuzlar günümüzde normal bir günde işe giderken bile yapılabilir hale geldi. Düğünler için yapılan topuzlar kadar profesyonel olmasa da şık ve modern bir görünüme kavuşmanın yolu topuzdan geçmektedir. Ayrıca oldukça rahat kullanımı nedeniyle her kesimin sıklıkla tercih ettiği bir durumdur. <b style="color: black !important"> Devamı İçin Tıklayın...</b></p>
                                            </a>
                                            <p style="display: none">
                                                <b>Topuzun Evrimi</b> <br />
                                                Topuz kelimesi ucu top şeklinde olan bir silah anlamına gelmektedir. Saç için olan topuzun da aslında anlamı budur, saçların top şeklinde toparlanması. Geleneksel topuzlara baktığımız zaman saçların sımsıkı toplandığı ve tarandığı, spreylerle sabitlendirilmiş bir yöntem karşımıza çıkmaktadır. Yoğun krepe uygulanmış ve spreylenmiş saç doğal olarak ertesi gün yıpranmış saç olarak karşımıza çıkmaktadır. Birkaç saat güzel görünmenin bedelini yıpranmış saçlar ödemekteydi.

                                                Günümüzde işler biraz değişti. Saç sağlığı her şeyin önüne geçti ve sımsıkı bir topuz yapıldığında bile saçların yıpranmaması için çaba harcanmaya başlandı. Özellikle teknolojinin gelişmesiyle yeni bir soluk kazanan güzellik sektörü dünyanın herhangi bir yerinde yapılan uygulamanın birkaç tıkla bilgisayarlarımıza oradan da saçlarımıza ulaşmasını sağladı. Hal böyle olunca da topuzlar farklı yönlere doğru kaydı.

                                                <br /> <b>Dağınık Topuz</b> <br />
                                                Ülkemizde yapılan bir araştırma sonucunda dağınık topuz denizlen saçların biraz daha özgür bırakıldığı topuz yöntemlerinin en çok tercih edilenler arasında olduğunu görmekteyiz. Yapımının kolay olması ve saçların daha güzel görünmesini sağlayan bu yöntem evlerde bile uygulanabilir oldu. Birkaç video izleyerek edinilen bilgilerle evde yapılabilen dağınık topuz özellikle çalışan kadınların kurtarıcısı. Biraz el becerisi olan herkesin yapabildiği bu topuz yönteminde saçlar doğal bir şekilde toplanır ve birkaç firkete yardımıyla topuz hali kazandırılır. Modern bir görünüm sunan bu uygulama ile saçlar hoş bir havaya sokulabilir.

                                                İnternet sitelerinde dolaşan videolar sayesinde kuaförlerin pabucu dama atılmış gibi görünse de bizim önerimiz bu videolara pek de aldanmamanız gerektiği. Güvendiğiniz bir kuaförden yardım aldığınızda saçlarınızı doğal bir şekilde nasıl toplayacağınızı da öğrenmeniz oldukça kolay. Ayrıca topuz yapılmış saçın daha uzun süre kullanımı ve saç sağlığını yitirmeden uygulama yöntemleri de yine kuaförünüz tarafından size anlatılabilir. Bu sayede günlük hayatınızda rahatlıkla kullanabileceğiniz topuzlara da ulaşabilirsiniz.

                                                Topuz yaptırmak geçmişten günümüze farklı bir hale sokulmuş olsa da topuzun tamamen bir sanat olduğunu da unutmamak gerekir. Günümüzde kuaförlerimiz bu sanatı saçlara oldukça güzel icra etmelerinin yanı sıra başörtüsünü de topuz haline sokabilmektedirler. Normal bir şalın ya da eşarbın birkaç iğne yöntemi ile topuz haline sokulduğu modeller özellikle başı kapalı bayanların özel günlerde sıklıkla başvurduğu yöntemlerdendir.

                                                Topuz kelimesinin Türk Dil Kurumuna ait sözlükte geçen anlamını biraz çağımızda yakalamak mümkün. Kadınlar erkekler kadar beden gücüne sahip olmazlar ve silahlanmaları topla, tüfekle ve topuzla olmaz. Onun yerine çoğu kadın güzelliğini bir silah olarak kullanır. Özellikle iyi yapılmış bir topuz en güçlü silahlardan bile etkili olacaktır. Hale de boyunu ortaya çıkaran bir topuz uygulaması ile boyun bölgesinin zarafeti gözler önüne serildiği için kadın kendini eski zamanların silah olan topuzuna sahip olmuş kadar güçlü hissedebilir.

                                                Her işi iyi ya da kötü yapan kişiler olduğu gibi topuzu da tamamen bir sanat ya da fiyasko haline sokabilen kuaförler vardır. Bu noktada daha önce yaptıkları işlere bakarak saçlarınızı emanet edebilir, hem günlük hem de özel anlar için topuzla saçlarınızı güzelleştirebilirsiniz.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div id="makyaj">
                            <article class="row blog_item">
                                <div class="col-md-12">
                                    <div class="blog_post">
                                        <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-2a.jpg" width="100%" alt="">
                                        <div class="blog_details">
                                            <a style="cursor: pointer" class="accordion">
                                                <h2>Monokromatik Makyaj</h2>
                                                <b>Monokromatik Makyaj</b> <br />
                                                <p>Yeni bir makyaj trendi ile karşınızdayız. Monokromatik makyaj, yani tek renk ile yapılmış makyaj trendi. Bu trend basitmiş gibi görünse de belli başlı kuralları ve uygulama yaparken işinize yarayacak püf noktaları var. Bu yazımızda monokromatik trendi hayata geçirmek için takip edeceğiniz adımları sizlerle paylaşacağız. Hemen püf noktalardan biri ile başlayalım. <b style="color: black !important"> Devamı İçin Tıklayın...</b></p>
                                            </a>
                                            <p style="display: none">
                                                <b>Cilt alt tonunuzu bulun!</b> <br />
                                                Bu makyaj stilinin size yakışması için kullanacağınız renkler çok önemli. Haliyle kullanmanız gereken renkleri bilmeniz gerekiyor. Bunun en basit yolu da cilt alt tonunuza göre renk seçimine gitmek. Cilt alt tonunu bulma işi gözünüzü korkutmasın aslında hiç de meşakkatli bir iş değil. Tek yapmanız gereken gün ışığında bileklerinizdeki damarlara bakmanız ve rengini tespit etmeniz. Eğer damarlarınız mavi ve mor tonlardaysa siz cool alt tonlu yani soğuk alt tonlusunuz. Bir başka deyişle cilt alt tonunuz pembedir. Damarlarınızın rengi yeşilse warm yani sıcak alt tona sahipsiniz ve cilt alt tonunuz sarı. Eğer damarlarınızın rengine karar veremiyor, bilek içlerinizde hem mavi, mor hem de yeşil renkte damarlar görüyorsanız nötr alt tonlusunuz demektir. Yani teniniz ne sarı ne de pembe alt tona sahip. Ancak bu durum sizi üzmesin çünkü siz en şanslılardansınız. Kullanacağınız hemen her renk size yakışacaktır.

                                                <br /> <b>Sizin renkleriniz hangileri?</b> <br />
                                                Cilt alt tonunuzu bulduğunuza göre gelelim sizlere en çok yakışacak renk tonlarına.

                                                Sıcak alt tonlu iseniz; şeftali, haki, altın, toprak tonları, yeşil, kahverengi, zümrüt gibi renkler size çok yakışacaktır. Bu renklerden birini seçerek yapacağınız makyaj sizi daha canlı gösterecektir. Ancak monokromatik makyajın tek handikabı seçeceğiniz rengin hem göz hem dudak hem de yanaklarda kullanıyor olmasıyla alakalı. Dolayısıyla yeşil renk far seçmeniz pek de mümkün görünmüyor. Bu nedenle şeftali, kahverengi veya herhangi bir toprak tonunu seçmeniz kullanım kolaylığı sağlayacaktır.

                                                Soğuk alt tonlu iseniz; mavi, mor, pembe, gümüş, bronz tonlardaki ürünler size yakışacaktır. Bu renk skalasında da mavi tonu kullanmak riskli olabilir.

                                                <br /> <b>Nasıl doğru uygulama yapılır?</b> <br />
                                                Dikkat edilmesi gereken noktalardan biri renk seçimleri. Hem yanak hem dudak hem de gözlerde kullanacağınız bir renk olması işinizi kolaylaştıracaktır.

                                                Bir diğer püf noktası ise makyaj malzemelerini farklı yerlerde de uygulamak. Yani rujunuzu far gibi kullanabilir, allığınızı far gibi kullanabilirsiniz. Bu son zamanlarda sıkça yapılan ve kolaylaştırıcı bir uygulama.
                                                <br /> <b>Monokromatik Makyaj Örnekleri</b> <br />
                                                İlk olarak soğuk alt tonlu kadınlar için bir uygulama örneğinden bahsedelim. Seçeceğiniz renk mor ise gözlerinize mor renkte bir far uygulayın ve boz bir kahverengi ile hafif gölge verin. Ardından leylak rengi bir ruj uygulayın. Yanaklarınızda ise leylak, gülkurusu tonlarında bir allık kullanın.

                                                Sıcak alt tonlular için önerimizse şeftali tonlarında monokromatik makyaj olacak. Şeftali renkli bir allığı yanaklarınıza uyguladıktan sonra tüm göz kapağınıza sürün ve kahve tonlarında bir far ile gölgelendirme yapın. Dudaklarınızda da şeftali renkli nude bir ruj ile makyajınızı tamamlayın.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div id="sacrengi">
                            <article class="row blog_item">
                                <div class="col-md-12">
                                    <div class="blog_post">
                                        <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-3a.jpg" width="100%" alt="">
                                        <div class="blog_details">
                                            <a style="cursor: pointer" class="accordion">
                                                <h2>Sonbahar Saç Renkleri</h2>
                                                <b>Sonbahar Saç Renkleri</b> <br />
                                                <p>Yaz ayların da güneşin, denizin etkisiyle saç renk tonlarında açılmalar meydana gelir ve saç yıpranır. Bu nedenle yaz bitimin de sonbahar da saça, saçı yenileyici bakımlar yapılmalı, saç kırıkları alınmalı ve tabi ki sonbahar-kışa uygun saç renklerine geçilmelidir. Saçınızı boyarken göz, kaş ve ten rengine uygunluğuna dikkat etmelisiniz ayrıca iş hayatında bulunduğunuz konum veya öğrenciyseniz yaşınıza uygunluğunu da göz ardı etmemelisiniz. Saç renginizi değişirken ünlülerden de ilham alabilirsiniz. <b style="color: black !important"> Devamı İçin Tıklayın...</b></p>
                                            </a>
                                            <p style="display: none">
                                                <b>Buz Sarı Saç</b> <br />
                                                Jennifer Lawrence tercih ettikten sonra Türk kadınları da bu saç rengini çok tercih eder oldu. Bu saça geçmeden önce ten renginize ve kaş renginize uygunluğuna dikkat edin. Genellikle açık tenli kadınlar için uygun olan bu saç rengine koyu saç renginden birden geçmek kolay değil. Adım adım geçilmesi saç için daha sağlıklı olacaktır. Ayrıca açık saç renklerinin koyu saç renklerine göre ekstra bakım gerektirdiği unutulmamalıdır.

                                                <br /> <b>Kestane Kahve Saç Rengi</b> <br />
                                                Buz sarı saç rengi kadar riskli olmayan ve sonbahar kadınlarının kurtarıcısı olan bir diğer renk de kestane kahve saç rengi. Kate Mara’nın sahip olduğu bu kestane kahve saç renginin kızıl ve altın sarının karışımı. İki tonun uyumu ile saç tonu daha sıcak hale gelmiş ve daha parlak görünüyor. Eğer saç renginiz koyu ise ve saçlarınızın ara kısımlarına ışıltı attırmak istiyorsanız kuaförlerde kısa zaman da bu değişimi yakalayabilirsiniz.

                                                <br /> <b>Bakır Saç Rengi</b> <br />
                                                Bakır saç rengi size diğer kadınlardan daha farklı olmanızı sağlayacak bir renk ve 2016’nın da en güzel kadınlarının kullanması ile popülerlik kazandı. Özellikle Elçin Sangu’nun turuncumsu bakır saç rengi çok konuşuldu. Eğer siz de beyaz tenliyseniz kuaförünüzle birlikte size en çok yakışacak bakır tonunu belirleyip saçınızda büyük bir farklılık gerçekleştirebilirsiniz.

                                                <br /> <b>Gri Saç Rengi</b> <br />
                                                Birkaç yıl öncesine kadar gri saç rengi neredeyse hiç kullanılmazdı. Ancak son yıllarda marjinal genç kızların ve ünlülerin kullanımı ile popüler oldu. Bütün tenlere yakışan bir saç rengi ancak teniniz beyaz ise makyajınızı renkli yapmalısınız ki soluk görünmeyin. Ya da gri ile birlikte farklı bir renk katarak saç renginize saçlarınızı hareketlendirebilirsiniz.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <nav class="blog-pagination justify-content-center d-flex">
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        @*<aside class="single_sidebar_widget search_widget">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Posts">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                </div> /input-group
                                <div class="br"></div>
                            </aside>*@
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="~/SalonFotolar/salon10.png" alt="" style="width: 120px; height: 120px;">
                            <h4>Makbuş Hair</h4>
                            <p>Güzelliğin Adresi</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>Fatih'te kendinizi rahat hissedip prensesler gibi ağırlanıp prensesler gibi çıkacağınız salonumuz sizin için hizmet vermeye her zaman açık. Siz çok güzelsiniz ama makbuş hair güzelliğinize güzellik katar.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Populer Postlar</h3>
                            <div class="media post_item">
                                <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-1a.jpg" alt="post" style="width: 100px; height: 60px;">
                                <div class="media-body">
                                    <a href="#topuz"><h3>Topuz Saç Modeli</h3></a>
                                    <p>1 saat önce</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-2a.jpg" alt="post" style="width: 100px; height: 60px;">
                                <div class="media-body">
                                    <a href="#makyaj"><h3>Monokromatik Makyaj</h3></a>
                                    <p>1 saat önce</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/Common/Anasayfa/img/blog/main-blog/m-blog-3a.jpg" alt="post" style="width: 100px; height: 60px;">
                                <div class="media-body">
                                    <a href="#sacrengi"><h3>Sonbahar Saç Renkleri</h3></a>
                                    <p>1 saat önce</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Haberin Olsun</h4>
                            <p>
                                Biz burda ünlü kuaförlerden aldığımız bilgiler ile senin için işe yarar yazılar paylaşıyoruz. Sen de şimdi e-bülten e üye ol ve bu yazıları sana mail ile ulaştıralım.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email girin'">
                                </div>
                                <a href="#" class="bbtns">Gönder</a>
                            </div>
                            <p class="text-bottom">İstediğin zaman aboneliğini iptal edebilirsin :) </p>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!--================Instagram Area =================-->
    <section class="instagram_area">
        <div class="container box_1620">
            <div class="insta_btn">
                <a class="btn theme_btn" style="margin-top:50px" href="#">BİZİ TAKİP EDİN(İnstagramda Paylaşılan Gönderilerden)</a>
            </div>
            <div class="instagram_image row m0">
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-1.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-2.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-3.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-4.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-5.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-6.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <!--================End Instagram Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>HAKKIMIZDA</h3>
                        </div>
                        <p>Kuaförlerimizin kazançlarını arttırırken aynı zamanda mutlu müşteriler edinmeyi hedefliyoruz. </p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">EA YAZILIM</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>HABERDAR OL</h3>
                        </div>
                        <p>Bize mail adresinizi bırakın işletmenizin daha çok müşteriye ulaşabilmesi için sizi bilgilendirelim :) </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>BİZİ TAKİP ET</h3>
                        </div>
                        <p>Bizi sosyal medya hesaplarımızdan takip edebilirsiniz</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Common/Anasayfa/js/jquery-3.2.1.min.js"></script>
    <script src="~/Common/Anasayfa/js/popper.js"></script>
    <script src="~/Common/Anasayfa/js/bootstrap.min.js"></script>
    <script src="~/Common/Anasayfa/js/stellar.js"></script>
    <script src="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/isotope-min.js"></script>
    <script src="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Common/Anasayfa/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Common/Anasayfa/js/mail-script.js"></script>
    <script src="~/Common/Anasayfa/js/theme.js">
    </script>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");

                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>