<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Common/Anasayfa/img/favicon.png" type="image/png">
    <title>onlineKuaförüm</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/bootstrap.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="~/Common/Anasayfa/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa</a></li>

                        <li class="nav-item "><a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Blog")">Blog</a></li>
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Contact")">İletişim</a></li>
                        @{
                            if (Session["musteri"] == null)
                            {
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GİRİŞ</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("MusteriGiris", "Home")">Kullanıcı Giriş</a></li>@*Giriş yapıldıktan sonra çıkış yap butonu gelicek*@
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("BerberGiris", "Home", new { area = "Berber" }, null)">Salon Giriş</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {

                                <li class="nav-item"> @Html.ActionLink("Çıkış Yap", "CıkısYap", "Home", new { @class = "nav-link" })</li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>

        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Contact Area =================-->
    <section class="contact_area p_120">
        <div class="container">
            <div style="width:1140px;height:420px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.2400723072683!2d28.88739121519854!3d41.02000337929967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabae935cb4949%3A0x3aea47bcaf71a222!2sY%C4%B1ld%C4%B1z+Teknik+%C3%9Cniversitesi+Teknopark+Davutpa%C5%9Fa!5e0!3m2!1sen!2str!4v1538861165103" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="row" style="margin-top:110px">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Teknopark</h6>
                            <p>Yıldız Teknik Üniversitesi</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">0 (541) 950 10 26</a></h6>
                            <p>Ulaşım saatleri 12 - 17:00</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">onlinekuaforum@gmail.com</a></h6>
                            <p>Bize her zaman ulaşabilirsiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="İsminiz">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-Posta Adresiniz">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Konu">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Mesajınız"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">                    
                            @Html.ActionLink("Gönder", "ContactEmail", "Contact", new { @class = "btn theme_btn button_hover" })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->
    <!--================Instagram Area =================-->
    <section class="instagram_area">
        <div class="container box_1620">
            <div class="insta_btn">
                <a class="btn theme_btn" href="#">BİZİ TAKİP EDİN(İnstagramda Paylaşılan Gönderilerden)</a>
            </div>
            <div class="instagram_image row m0">
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-1.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-2.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-3.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-4.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-5.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-6.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <!--================End Instagram Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>HAKKIMIZDA</h3>
                        </div>
                        <p>Kuaförlerimizin kazançlarını arttırırken aynı zamanda mutlu müşteriler edinmeyi hedefliyoruz. </p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">EA YAZILIM</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>HABERDAR OL</h3>
                        </div>
                        <p>Bize mail adresinizi bırakın işletmenizin daha çok müşteriye ulaşabilmesi için sizi bilgilendirelim :) </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>BİZİ TAKİP ET</h3>
                        </div>
                        <p>Bizi sosyal medya hesaplarımızdan takip edebilirsiniz</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals error -->
    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Common/Anasayfa/js/jquery-3.2.1.min.js"></script>
    <script src="~/Common/Anasayfa/js/popper.js"></script>
    <script src="~/Common/Anasayfa/js/bootstrap.min.js"></script>
    <script src="~/Common/Anasayfa/js/stellar.js"></script>
    <script src="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/isotope-min.js"></script>
    <script src="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Common/Anasayfa/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Common/Anasayfa/js/mail-script.js"></script>
    <!-- contact js -->
    <script src="~/Common/Anasayfa/js/jquery.form.js"></script>
    <script src="~/Common/Anasayfa/js/jquery.validate.min.js"></script>
    <script src="~/Common/Anasayfa/js/contact.js"></script>
    <!--gmaps Js-->
    <script src="~/Common/Anasayfa/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/Common/Anasayfa/js/gmaps.min.js"></script>
    <script src="~/Common/Anasayfa/js/theme.js"></script>
</body>
</html>