
@{
    ViewBag.Title = "BerberSalonEkle";
    Layout = "~/Areas/Berber/Views/_BerberLayout.cshtml";
}
@using (Html.BeginForm("BerberSalonEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<div class="row" style="margin-top: 24px">
    <div class="col-xs-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Genel Bilgiler</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label class=" form-control-label">Salon Adı</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-home"></i></div>
                        <input name="salonAd" class="form-control" maxlength="50" required>
                    </div>
                    <small class="form-text text-muted">
                        <span class="help-block"><h6 style="color:red">@ViewBag.uyarı</h6><h5 style="color:red">@ViewBag.mesaj</h5></span>
                    </small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Salon Hakkında Bilgi</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-home"></i></div>
                        <input name="salonBilgi" class="form-control">
                    </div>
                    <small class="form-text text-muted">
                        <span class="help-block"></span>
                    </small>
                </div>

                <div class="form-group">
                    <label class=" form-control-label">Vitrin Yazısı</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonVitrinYazi" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label class="" form-control-label">Salon Telefonu</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                        <input name="salonTelefon" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
               

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Adres Bilgileri</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label class=" form-control-label">İl</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                        <input name="salonIl" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">İlçe</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                        <input name="salonIlce" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Cadde</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonCadde" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Mahalle</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonMahalle" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>

                <div class="form-group">
                    <label class=" form-control-label">No - Posta Kodu</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonNoPostaKodu" class="form-control">
                    </div>
                    <small class="form-text text-muted">Örnek : No:10, 34123</small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Salon Açık Adres</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonAcikAdres" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>

                <div class="form-group">
                    <label class=" form-control-label">Salon Maili</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                        <input type="email" name="salonMail" class="form-control" placeholder="@ViewBag.email" disabled>

                    </div>
                    <small class="form-text text-muted"></small>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Sosyal Medya Bilgileri</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label class=" form-control-label">Facebook Adresi</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-home"></i></div>
                        <input name="salonFacebook" class="form-control" maxlength="50" required>
                    </div>
                    <small class="form-text text-muted">
                        <span class="help-block"><h6 style="color:red">@ViewBag.uyarı</h6><h5 style="color:red">@ViewBag.mesaj</h5></span>
                    </small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">İnstagram Adresi</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                        <input name="salonInstgram" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Twitter Adresi</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-map-alt"></i></div>
                        <input name="salonTwitter" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Fotoğraf İçerikleri</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label class=" form-control-label">Vitrin Fotoğrafı</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-camera"></i></div>
                        <input type="file" name="salonVitrinFotograf" value="resim" class="form-control">
                    </div>
                    <small class="form-text text-muted"></small>
                </div>
            </div>           
        </div>
    </div>
    <div class="card-body pull-right" style="position: relative;top:-20px;text-align: right;">
        <button type="reset" class="btn btn-outline-danger">Temizle</button>
        <button type="submit" class="btn btn-outline-primary">Kaydet</button>
    </div>
</div>
}