@model IEnumerable<Berberim.Data.Models.SALONSAYFA>

@{
    ViewBag.Title = "BerberDuzenle";
    Layout = "~/Areas/Berber/Views/_BerberLayout.cshtml";
}


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Salon Bilgileri</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Salon Adı
                                    </th>
                                    <th>
                                        Hakkımda
                                    </th>
                                    <th>
                                        Vitrin Yazım
                                    </th>
                                    <th>
                                        Telefon
                                    </th>
                                    <th>
                                        İl
                                    </th>
                                    <th>
                                        İlçe
                                    </th>

                                    <th>
                                        Cadde
                                    </th>
                                    <th>
                                        Mahalle
                                    </th>
                                    <th>
                                        No,Posta Kodu
                                    </th>
                                    <th>
                                        Açık Adres
                                    </th>
                                    <th>
                                        E-Posta
                                    </th>
                                    <th>
                                        Facebook
                                    </th>
                                    <th>
                                        İnstgram
                                    </th>
                                    <th>
                                        Twitter
                                    </th>
                                    <th>
                                        Vitrin Fotoğrafı
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr></tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HAKKINDA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VITRINYAZI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TEL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ILCE)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CADDE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MAHALLE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOPOSTAKODU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACIKADRES)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMAIL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FACEBOOK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.INSTGRAM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TWITTER)
                                    </td>
                                    <td>
                                        <img width="100" height="100" src="~/Resimler/SalonVitrinFoto/@item.VITRINFOTO">
                                    </td>

                                    <td style="padding-top: 45px">
                                        @Html.ActionLink("Güncelle", "Guncelle", new { id = item.ID }, new { @class = "btn btn-outline-info" })

                                    </td>

                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
</div><!-- .content -->