@model List<Berberim.Data.Kampanyalar>
@{
    ViewBag.Title = "KampanyaVitrin";
    Layout = "~/Views/_MusteriLayout.cshtml";
}

<!-- End Header Parallax Image -->
<!-- Begin Portfolio Boxed 4 columns with Space -->
<section class="section-portfolio">
    <div class="container">




        <div class="anadiv" style="width: 100%;margin: auto;">
            <div style="width: 100%; height: 50px; margin-bottom: 20px; text-align: center; margin-top: 20px;">
                <div class="div1">

                </div>

                <div class="div1">

                    <h4 style="font-family: Cursive;font-size: 19px;font-weight: 100;"><b>@Html.ActionLink("Berberler", "Index", "Home")</b></h4>
                </div>

                <div class="div1">

                    <h4 style="font-family: Cursive;font-size: 19px;font-weight: 100;"><b>@Html.ActionLink("Kampanyalar", "KampanyaVitrin", "Home")</b></h4>
                </div>

                <div class="div1">

                    <h4 style="font-family: Cursive;font-size: 19px;font-weight: 100;"><b>@Html.ActionLink("Trend Saçlar", "TrendSacVitrin", "Home")</b></h4>
                </div>

                <div class="div1">

                </div>

            </div>

        </div>





        <div class="portfolioContainer grid-4">
            @foreach (var item in Model)
            {

                if (item.KampanyaSonGun > DateTime.Now || item.KampanyaSonGun == DateTime.Now)
                {
                    <figure class="effect-jazz branding">
                        <img src="~/SalonFotolar/kampanya4.png" alt="7">

                        <figcaption>
                            <div class="see-more">
                                <div class="see-more-inner">
                                    <h2>@item.KampanyaBaslik</h2>
                                    <p>
                                        @item.KampanyaIcerik <br />
                                        @item.KampanyaFiyat TL<br />
                                        Kampanya Son Gün : @Convert.ToDateTime(item.KampanyaSonGun).Date.ToLongDateString()



                                        @Html.ActionLink("Salona Git", "SalonSayfa", "Home", new { @id = item.BerberId }, new { @class = "btn button-line button-white btn-rounded hover-effect" })
                                        @Html.ActionLink("Kampanya Al", "KampanyaSatınAl", "Home", new { @id = item.BerberId }, new { @class = "btn button-line button-white btn-rounded hover-effect" })


                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                }
            }
        </div>
    </div>
</section>