@model Berberim.UI.Models.BerberDetayModel
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Common/Anasayfa/img/favicon.png" type="image/png">
    <title>Online Kuaförüm</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/bootstrap.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/Common/SacModelleriGallery/css/pure-js-lightbox.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            line-height: 24px;
            font-size: 14px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            color: #777777;
        }

        a {
            text-decoration: none !important;
        }

        .randevuButton {
            color: #fff !important;
            background: #5cb85c !important;
            border: 1px solid transparent !important;
            display: inline-block;
            outline: none;
            line-height: 40px;
            padding: 0 30px;
            font-size: .8em;
            text-align: center;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
        }

            .randevuButton:hover {
                color: #5cb85c !important;
                border: 1px solid #5cb85c !important;
                background: #fff !important;
            }


        #gallery img {
            width: 247px;
            height: 155px;
            vertical-align: middle;
        }

        ul li {
            list-style: none;
            display: inline-block;
        }
    </style>
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/" style="height:100%"><img src="~/Common/Anasayfa/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" style=" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Anasayfa</a></li>

                        <li class="nav-item "><a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Blog")">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Contact")">İletişim</a></li>
                        @{
                            if (Session["musteri"] == null)
                            {
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GİRİŞ</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("MusteriGiris", "Home")">Kullanıcı Giriş</a></li>@*Giriş yapıldıktan sonra çıkış yap butonu gelicek*@
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("BerberGiris", "Home", new { area = "Berber" }, null)">Salon Giriş</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {

                                <li class="nav-item"> @Html.ActionLink("Çıkış Yap", "CıkısYap", "Home", new { @class = "nav-link" })</li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            @if (Model.SalonFotolar.Count > 0)
                            {
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        @{
                                            var yeni = 0;
                                        }
                                        @foreach (var item in Model.SalonFotolar)
                                        {

                                            yeni = yeni + 1;
                                            <li data-target="#myCarousel" data-slide-to="@yeni"></li>

                                        }
                                    </ol>
                                    <div class="carousel-inner">
                                        @foreach (var item in Model.SalonFotolar)
                                        {
                                            <div class="item active">
                                                <img src="~/Resimler/SalonFotograflar/@item.FOTO" alt="Fotoğraf Yüklemediniz" style="width:750px;height:350px;">
                                            </div>
                                            break;
                                        }
                                        @foreach (var item in Model.SalonFotolar.Skip(1))
                                        {


                                            <div class="item">
                                                <img src="~/Resimler/SalonFotograflar/@item.FOTO" alt="Fotoğraf Yüklemediniz" style="width:750px;height:350px;">
                                            </div>
                                        }
                                    </div>


                                    <!-- Wrapper for slides -->
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <img src="~/Resimler/SalonVitrinFoto/@Model.Berber.VITRINFOTO" alt="Los Angeles" style="width:750px;height:350px;">
                                </div>

                            }

                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Salon,</a>
                                    <a class="active" href="#" style="color:#4cd3e3">@Model.Berber.AD,</a>
                                    <a href="#">Adres,</a>
                                    <a href="#">Bilgilerimiz</a>
                                </div>
                                <ul class="blog_meta list">
                                    @*Cadde*@
                                    <li><a href="#">@Model.Berber.CADDE</a></li>
                                    @*Mahalle*@
                                    <li><a href="#">@Model.Berber.MAHALLE</a></li>
                                    @*No Posta Kodu*@
                                    <li><a href="#">@Model.Berber.NOPOSTAKODU</a></li>
                                    @*İl İlce*@
                                    <li><a href="#">@Model.Berber.CADDE</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details" style="padding-top:7px">
                            <h2>@Model.Berber.AD</h2>
                            <p class="excert">
                                @Model.Berber.HAKKINDA
                            </p>

                        </div>
                        <div class="col-lg-12" style="    margin-top: 25px;">

                            <div class="quotes">

                                <label style="color:black;font-size:13px">Açık Adres / Tarif</label> :  @Model.Berber.ACIKADRES
                            </div>


                            <div class="row">
                                <div class="col-12" style="padding-left:15px !important;margin:0px !important">
                                    <ul id="gallery" style="width: 100%;padding:0px !important" class="pure-js-lightbox-container">
                                        @foreach (var item in Model.KesilenSacModeller)
                                        {
                                            <li><a href="~/Resimler/KesilenSaclar/@item.FOTO"><img src="~/Resimler/KesilenSaclar/@item.FOTO" /></a></li>

                                        }
                                    </ul>

                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>@ViewBag.yorumsay Yorum</h4>
                        @foreach (var item in Model.MusteriYorumlar)
                        {
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">

                                        @if (item.CİNSİYET == "Erkek")
                                        {
                                            <div class="thumb">
                                                <img src="~/Common/KullanıcıAvatar/iconfinder_male3_403019.png" alt="" style="width:60px;height:60px;">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="thumb">
                                                <img src="~/Common/KullanıcıAvatar/iconfinder_female_628285.png" alt="" style="width:60px;height:60px;">
                                            </div>
                                        }
                                        <div class="desc">
                                            <h5><a href="#">@item.MUSTERIAD</a></h5>
                                            <p class="date">4 Haziran 2018 </p>
                                            <p class="comment">
                                                @item.MYORUM
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    <div class="comment-form">
                        <h4>Yorumunuzu Bizimle Paylaşın</h4>
                        @using (Html.BeginForm("SalonSayfa", "Home", FormMethod.Post))
                        {
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="yorum" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'" required=""></textarea>
                            </div>

                            if (Session["musteri"] != null)
                            {
                                <input type="submit" name="yorumyap" value="Yorum Yap" class="genric-btn success" />

                            }
                            else
                            {
                                <a href="@Url.Action("MusteriGiris", "Home")" class="genric-btn success">Yorum Yap</a>
                            }

                        }

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget" style="text-align: center;">
                            <div class="input-group">

                                @{
                                    if (ViewBag.kampanyaGelen == true)
                                    {
                                        <div>
                                            <a href="#" data-toggle="modal" data-target="#largeModal" class="genric-btn success circle" style="text-decoration: none;width: 200px;font-size:15px;">Kampanya Al</a>
                                        </div>
                                    }
                                    else
                                    {
                                        if (Session["musteri"] != null)
                                        {
                                            <div>
                                                <a href="#" data-toggle="modal" data-target="#largeModal" class="genric-btn success circle" style="text-decoration: none;width: 200px;font-size:15px;">Randevu Al</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <a href="@Url.Action("MusteriGiris", "Home")" class="genric-btn success circle" style="text-decoration: none;width: 200px;font-size:15px;">Randevu Al</a>
                                            </div>
                                        }
                                    }
                                }
                                <!-- large modal -->
                                <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        @using (Html.BeginForm("SalonSayfa", "Home", FormMethod.Post))
                                        {
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    @if (ViewBag.kampanyaGelen == true)
                                                    {
                                                        <h4 class="modal-title" id="myModalLabel" style="padding-top: 5px;padding-left: 5px;">Kampanya Alımını Tamamla</h4>

                                                    }
                                                    else
                                                    {
                                                        <h4 class="modal-title" id="myModalLabel" style="padding-top: 5px;padding-left: 5px;">Randevuyu Tamamla</h4>

                                                    }
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        <div class="row" style="padding-bottom: 20px;">
                                                            <div class="col-sm-3" style="text-align: right;">Personel Seçimi</div>
                                                            <div class="col-sm-8" style="position: relative;top: -7px;">
                                                                <div class="input-group-icon mt-8">
                                                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                                    @{

                                                                        var personeller = new List<SelectListItem>();

                                                                        foreach (var item in Model.Personeller)
                                                                        {
                                                                            personeller.Add(new SelectListItem { Text = item.ADSOYAD });
                                                                        }

                                                                    }

                                                                    <div class="form-select" id="default-select">
                                                                        @Html.DropDownListFor(m => m.Personeller, personeller, new { @class = "nice-select open", @style = "background-color:white" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        @if (ViewBag.kampanyaGelen != true)
                                                        {
                                                            <div class="row" style="padding-bottom: 20px;">
                                                                <div class="col-sm-3" style="text-align: right;">İşlem Seçimi</div>
                                                                <div class="col-sm-8" style="position: relative;top: -7px;">
                                                                    <div class="input-group-icon mt-8">
                                                                        <div class="icon"><i class="fa fa-scissors" aria-hidden="true"></i></div>
                                                                        @{

                                                                            var islemler = new List<SelectListItem>();

                                                                            foreach (var item in Model.Islemler)
                                                                            {
                                                                                islemler.Add(new SelectListItem { Text = item.AD, Value = item.ID.ToString() });
                                                                            }

                                                                        }

                                                                        <div class="form-select" id="default-select">
                                                                            @Html.DropDownListFor(m => m.Islemler, islemler, new { @class = "nice-select open", @style = "background-color:white" })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        }
                                                        <div class="row" style="padding-bottom: 20px;">
                                                            <div class="col-sm-3" style="text-align: right;">Tarih Seçimi</div>
                                                            <div class="col-sm-8" style="position: relative;top: -8px;">
                                                                <input type="date" name="rtarih" placeholder="Tarih Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tarih Seçiniz'" required="" class="single-input">
                                                            </div>

                                                        </div>
                                                        <div class="row" style="padding-bottom: 20px;">
                                                            <div class="col-sm-3" style="text-align: right;">Saat Seçimi</div>
                                                            <div class="col-sm-8">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="09:00" id="option1" checked> 09:00
                                                                    </label>
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="10:00" id="option2"> 10:00
                                                                    </label>
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="11:00" id="option3"> 11:00
                                                                    </label>
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="12:00" id="option4"> 12:00
                                                                    </label>
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="13:00" id="option5"> 13:00
                                                                    </label>
                                                                    <label class="btn btn-danger circle" disabled>
                                                                        <input type="radio" name="rSaat" value="14:00" id="option6"> 14:00
                                                                    </label>
                                                                    <label class="btn btn-success circle">
                                                                        <input type="radio" name="rSaat" value="15:00" id="option7"> 15:00
                                                                    </label>
                                                                    <label class="btn btn-danger circle" disabled>
                                                                        <input type="radio" name="rSaat" value="16:00" id="option8"> 16:00
                                                                    </label>
                                                                    <label class="btn btn-success">
                                                                        <input type="radio" name="rSaat" value="17:00" id="option8"> 17:00
                                                                    </label>
                                                                    <label class="btn btn-danger" disabled>
                                                                        <input type="radio" name="rSaat" value="18:00" id="option8"> 18:00
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="genric-btn primary-border radius" data-dismiss="modal">Vazgeç</button>
                                                        @if (ViewBag.kampanyaGelen == true)
                                                        {
                                                            @Html.ActionLink("Kampanya Tamamla", "KampanyaSatınAl", "Home", new { id = Model.Berber.SALONID }, new { @class = "genric-btn success" })

                                                        }
                                                        else
                                                        {
                                                            <input type="submit" name="RandevuAl" value="Randevuyu Tamamla" class="genric-btn success" />

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>

                            </div>

                            <!-- small modal -->

                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            @if (@Model.Berber.LOGO == null)
                            {
                                <img class="author_img rounded-circle" src="~/Common/SalonLogo/DefaultLogo.jpg" style="width:167px;height:158px" alt="">

                            }
                            else
                            {
                                <img class="author_img rounded-circle" src="~/Resimler/SalonLogo/@Model.Berber.LOGO" style="width:167px;height:158px" alt="">

                            }
                            <div class="social_icon" style="padding-top: 30px;">
                                <a href="@Model.Berber.FACEBOOK"><i class="fa fa-facebook"></i></a>
                                <a href="@Model.Berber.INSTGRAM"><i class="fa fa-instagram"></i></a>
                                <a href="@Model.Berber.TWITTER"><i class="fa fa-twitter"></i></a>
                            </div>
                            <p>@Model.Berber.VITRINYAZI</p>
                            <div class="br"></div>
                        </aside>
                        @{
                            if (ViewBag.kampanyaGelen == true)
                            {
                                <aside class="single_sidebar_widget post_category_widget">
                                    <h3 class="widget_title" style="font-size:15px;">Kampanya Detayları</h3>
                                    <ul class="list cat-list">

                                        <li style="width: 100%;">
                                            <div class="d-flex justify-content-between">
                                                <p>Kampanya Başlığı :</p>
                                                <p>@Model.Kampanya.BASLIK</p>
                                            </div>
                                        </li>

                                        <li style="width: 100%;">
                                            <div class="d-flex justify-content-between">
                                                <p>Kampanya Fiyat :</p>
                                                <p>@Model.Kampanya.FIYAT TL</p>
                                            </div>
                                        </li>
                                        <li style="width: 100%;">
                                            <div class="d-flex justify-content-between">
                                                <p>Kampanya İçeriği :</p>
                                                <p>@Model.Kampanya.ICERIK</p>
                                            </div>
                                        </li>
                                        <li style="width: 100%;">
                                            <div class="d-flex justify-content-between">
                                                <p>Kampanya Son Gün :</p>
                                                <p>@Model.Kampanya.SONGUN</p>
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="br"></div>
                                </aside>
                            }



                        }

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="font-size:15px;">Personeller</h3>

                            @foreach (var item in Model.Personeller)
                            {
                                <div class="media post_item">

                                    @if (item.FOTO != null)
                                    {
                                        <img class="rounded-circle mx-auto d-block" height="90" width="100" src="~/Common/Personeller/@item.FOTO" alt="Card image cap">
                                    }
                                    @if (item.FOTO == null && item.CINSIYET == "Erkek")
                                    {
                                        <img class="rounded-circle mx-auto d-block" height="90" width="100" src="~/Common/KullanıcıAvatar/iconfinder_male3_403019.png" alt="Card image cap">
                                    }
                                    @if (item.FOTO == null && item.CINSIYET == "Kadın")
                                    {
                                        <img class="rounded-circle mx-auto d-block" height="90" width="100" src="~/Common/KullanıcıAvatar/iconfinder_female_628285.png" alt="Card image cap">
                                    }
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>@item.ADSOYAD</h3></a>
                                        <p>@item.UNVAN</p>
                                    </div>
                                </div>
                            }


                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                         
                        </aside>
                        @if (ViewBag.kampanyaGelen != true)
                        {
                            <aside class="single_sidebar_widget post_category_widget">
                                <h3 class="widget_title" style="font-size:15px;">Hizmetler</h3>
                                <ul class="list cat-list">
                                    @foreach (var item in Model.Islemler)
                                    {
                                        <li style="width: 100%;">
                                            <div class="d-flex justify-content-between">
                                                <p>@item.AD</p>
                                                <p>@item.FIYAT TL</p>
                                            </div>
                                        </li>
                                    }

                                </ul>
                                <div class="br"></div>
                            </aside>
                        }
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h3 class="widget_title" style="font-size:15px;">Salon İle İletişime Geçin</h3>
                            <p>
                                Görüşlerinizi , şikayetlerinizi ve önerilerinizi bizimle paylaşabilirsiniz.
                            </p>
                            @using (Html.BeginForm("SalonaMail", "Home", FormMethod.Post))
                            {
                                <div class="form-group d-flex flex-row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="mesaj" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'">
                                    </div>

                                    <button type="submit" class="bbtns" value="Gönder" style="line-height: 32px;height:33px" name="button">Gönder</button>

                                </div>
                            }
                            <p class="text-bottom">En kısa sürede tarafınıza dönüş yapılacaktır.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h3 class="widget_title" style="font-size:15px;">Popüler Salonlar</h3>
                            <ul class="list">
                                @foreach (var item in Model.Salonlar)
                                {
                                    <li><a href="~/Home/SalonSayfa/@item.SALONID">@item.AD</a></li>
                                }

                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!--================Instagram Area =================-->
    <section class="instagram_area top_pad">
        <div class="container box_1620">
            <div class="insta_btn">
                <a class="btn theme_btn" href="#" style="font-weight: 600;">TERCİH EDİLEN SALONLAR</a>
            </div>
            <div class="instagram_image row m0">
                @foreach (var item in Model.Salonlar)
                {

                    <a href="~/Home/SalonSayfa/@item.ID"><img src="~/Resimler/SalonVitrinFoto/@item.VITRINFOTO" style="height:211px" alt=""></a>
                }

            </div>
        </div>
    </section>
    <!--================End Instagram Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>HAKKIMIZDA</h3>
                        </div>
                        <p>Kuaförlerimizin kazançlarını arttırırken aynı zamanda mutlu müşteriler edinmeyi hedefliyoruz. </p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">EA YAZILIM</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>HABERDAR OL</h3>
                        </div>
                        <p>Bize mail adresinizi bırakın işletmenizin daha çok müşteriye ulaşabilmesi için sizi bilgilendirelim :) </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>BİZİ TAKİP ET</h3>
                        </div>
                        <p>Bizi sosyal medya hesaplarımızdan takip edebilirsiniz</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Common/Anasayfa/js/jquery-3.2.1.min.js"></script>
    <script src="~/Common/Anasayfa/js/popper.js"></script>
    <script src="~/Common/Anasayfa/js/bootstrap.min.js"></script>
    <script src="~/Common/Anasayfa/js/stellar.js"></script>
    <script src="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/isotope-min.js"></script>
    <script src="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Common/Anasayfa/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Common/Anasayfa/js/mail-script.js"></script>
    <script src="~/Common/Anasayfa/js/theme.js">
    </script>

    <script src="~/Common/SacModelleriGallery/src/pure-js-lightbox.min.js"></script>
    <script type="text/javascript">
        // Make sure include the lightbox library BEFORE you use it
        var test = new pureJSLightBox();

    </script>

</body>
</html>