@model Berberim.UI.Models.BerberDetayModel
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Common/Anasayfa/img/favicon.png" type="image/png">
    <title>Bitmap Photography Multi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/bootstrap.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Common/Anasayfa/css/style.css">
    <link rel="stylesheet" href="~/Common/Anasayfa/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            line-height: 24px;
            font-size: 14px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            color: #777777;
        }

        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="~/Common/Anasayfa/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Anasayfa</a></li>

                        <li class="nav-item"><a class="nav-link" href="about-us.html">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">İLETİŞİM</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GİRİŞ</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("MusteriGiris", "Home")">Kullanıcı Giriş</a></li>@*Giriş yapıldıktan sonra çıkış yap butonu gelicek*@
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("BerberGiris", "Home", new {area = "Berber"}, null)">Salon Giriş</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">

                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    @{
                                        var yeni = 0;
                                    }
                                    @foreach (var item in Model.SalonFotolar)
                                    {

                                        yeni = yeni + 1;
                                        <li data-target="#myCarousel" data-slide-to="@yeni"></li>

                                    }
                                </ol>
                                <div class="carousel-inner">
                                    @foreach (var item in Model.SalonFotolar)
                                    {
                                        <div class="item active">
                                            <img src="~/Resimler/SalonFotograflar/@item.FOTO" alt="Los Angeles" style="width:750px;height:350px;">
                                        </div>
                                        break;
                                    }
                                    @foreach (var item in Model.SalonFotolar.Skip(1))
                                    {


                                        <div class="item">
                                            <img src="~/Resimler/SalonFotograflar/@item.FOTO" alt="Los Angeles" style="width:750px;height:350px;">
                                        </div>
                                    }
                                </div>


                                <!-- Wrapper for slides -->
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Salon,</a>
                                    <a class="active" href="#" style="color:#4cd3e3">Atakan Hair,</a>
                                    <a href="#">Adres,</a>
                                    <a href="#">Bilgilerimiz</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Millet Caddesi<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">Şehremini Mh.<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">No:10, 34123<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">Fatih/İstanbul<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details" style="padding-top:7px">
                            <h2>Hakkımızda Kısmı</h2>
                            <p class="excert">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="~/Common/Anasayfa/img/blog/post-img1.jpg" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="~/Common/Anasayfa/img/blog/post-img2.jpg" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                                    </p>
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>@ViewBag.yorumsay Yorum</h4>
                        @foreach (var item in Model.MusteriYorumlar)
                        {
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/BerberPanel/images/admin.jpg" alt="" style="width:60px;height:60px;">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">@item.MUSTERIAD</a></h5>
                                            <p class="date">4 Haziran 2018 </p>
                                            <p class="comment">
                                                @item.MYORUM
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    <div class="comment-form">
                        <h4>Yorumunuzu Bizimle Paylaşın</h4>
                        <form>

                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'" required=""></textarea>
                            </div>

                            <a href="#" class="genric-btn success" style="margin-top: 15px;text-decoration:none">Yorum Yap</a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget" style="    text-align: center;">
                            <div class="input-group">
                                <div>
                                    <a href="#" class="genric-btn success circle" style="text-decoration: none;width: 200px;font-size:15px">Randevu Al</a>

                                </div>

                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="~/BerberPanel/images/admin.jpg" alt="">
                            <h4>Emre Tezcan</h4>
                            <p>Salon Sahibi</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="font-size:15px;">Personeller</h3>

                            @foreach (var item in Model.Personeller)
                            {

                                <div class="media post_item">
                                    <img class="author_img rounded-circle" src="~/BerberPanel/images/admin.jpg" alt="post" width="100" height="90">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>@item.ADSOYAD</h3></a>
                                        <p>Saç Uzmanı</p>
                                    </div>
                                </div>

                                <div class="media post_item">
                                    <img class="author_img rounded-circle" src="~/BerberPanel/images/admin.jpg" alt="post" width="100" height="90">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>@item.ADSOYAD</h3></a>
                                        <p>Saç Uzmanı</p>
                                    </div>
                                </div>

                                <div class="media post_item">
                                    <img class="author_img rounded-circle" src="~/BerberPanel/images/admin.jpg" alt="post" width="100" height="90">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>@item.ADSOYAD</h3></a>
                                        <p>Saç Uzmanı</p>
                                    </div>
                                </div>

                                <div class="media post_item">
                                    <img class="author_img rounded-circle" src="~/BerberPanel/images/admin.jpg" alt="post" width="100" height="90">
                                    <div class="media-body">
                                        <a href="blog-details.html"><h3>@item.ADSOYAD</h3></a>
                                        <p>Saç Uzmanı</p>
                                    </div>
                                </div>
                            }


                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h3 class="widget_title" style="font-size:15px;">Hizmetler</h3>
                            <ul class="list cat-list">
                                @foreach (var item in Model.Islemler)
                                {
                                    <li>
                                        <div class="d-flex justify-content-between">
                                            <p>@item.AD</p>
                                            <p>@item.FIYAT TL</p>
                                        </div>
                                    </li>
                                }

                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h3 class="widget_title" style="font-size:15px;">Salon İle İletişime Geçin</h3>
                            <p>
                                Görüşlerinizi , şikayetlerinizi ve önerilerinizi bizimle paylaşabilirsiniz.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'">
                                </div>
                                <a href="#" class="bbtns" style="line-height: 32px;height:33px">Gönder</a>
                            </div>
                            <p class="text-bottom">En kısa sürede tarafınıza dönüş yapılacaktır.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h3 class="widget_title" style="font-size:15px;">Popüler Salonlar</h3>
                            <ul class="list">
                                <li><a href="#">İkon Hair</a></li>
                                <li><a href="#">Nişantaşı Stil</a></li>
                                <li><a href="#">Merkür Salon</a></li>
                                <li><a href="#">ShowLine Saç Tasarım</a></li>
                                <li><a href="#">Neewlod Hair</a></li>
                                <li><a href="#">Sertaş Hair</a></li>
                                <li><a href="#">İmaj Erkek Kuaförü</a></li>
                                <li><a href="#">İva Kuaför</a></li>
                                <li><a href="#">HK Hair Design</a></li>
                                <li><a href="#">Black Hair Salon</a></li>
                                <li><a href="#">Elite Erkek Kuaför</a></li>
                                <li><a href="#">Star Güzellik Salonu</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!--================Instagram Area =================-->
    <section class="instagram_area top_pad">
        <div class="container box_1620">
            <div class="insta_btn">
                <a class="btn theme_btn" href="#" style="font-weight: 600;">TERCİH EDİLEN SALONLAR</a>
            </div>
            <div class="instagram_image row m0">
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-1.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-2.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-3.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-4.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-5.jpg" alt=""></a>
                <a href="#"><img src="~/Common/Anasayfa/img/instagram/ins-6.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <!--================End Instagram Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>HAKKIMIZDA</h3>
                        </div>
                        <p>Kuaförlerimizin kazançlarını arttırırken aynı zamanda mutlu müşteriler edinmeyi hedefliyoruz. </p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">EA YAZILIM</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>HABERDAR OL</h3>
                        </div>
                        <p>Bize mail adresinizi bırakın işletmenizin daha çok müşteriye ulaşabilmesi için sizi bilgilendirelim :) </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>BİZİ TAKİP ET</h3>
                        </div>
                        <p>Bizi sosyal medya hesaplarımızdan takip edebilirsiniz</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Common/Anasayfa/js/jquery-3.2.1.min.js"></script>
    <script src="~/Common/Anasayfa/js/popper.js"></script>
    <script src="~/Common/Anasayfa/js/bootstrap.min.js"></script>
    <script src="~/Common/Anasayfa/js/stellar.js"></script>
    <script src="~/Common/Anasayfa/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Common/Anasayfa/vendors/isotope/isotope-min.js"></script>
    <script src="~/Common/Anasayfa/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Common/Anasayfa/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Common/Anasayfa/js/mail-script.js"></script>
    <script src="~/Common/Anasayfa/js/theme.js">
    </script>

    <script>
                                                                                                                                                                            //function myClick(deger) {
                                                                                                                                    //    if (deger != null) {
                                                                                                                                    //        var nesne = document.getElementsByClassName(deger);
                                                                                                                                    //        nesne.style.display = true;
                                                                                                                                    //    }
                                                                                                                                    //}
    </script>

</body>
</html>